
.segment {
    width: 40%;
    height: 83%;
    border-radius: 0%;
    margin: 5% auto;
}
.tabGroup {
    max-height: 75vh;
}
.cardTitle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    font-size: 1.5em;
}