<mat-card class="segment">
  <div class="icon_button">
    <button (click)='dropdownVisible = true' mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card *ngIf='dropdownVisible' (mouseleave)='dropdownVisible = false' class="dropdown-content">
      <mat-nav-list>
        <a [routerLink]='["/page-list", excersice.id]'>
          <mat-list-item> Wijzigen </mat-list-item>
        </a>
        <mat-list-item (click)='wijzigen()'> Wijzigen</mat-list-item>
        <mat-list-item (click)='removeOefening()'> Verwijderen</mat-list-item>
      </mat-nav-list>
    </mat-card>
  </div>
  <mat-card-header>
    <div class="cardTitle">{{excersice.title}}</div>
  </mat-card-header>
  <div class="content">
    <mat-tab-group mat-stretch-tabs headerPosition="below" class="tabGroup">
      <mat-tab class="pageDetailContent" *ngFor="let page of excersice.pages" label="{{page.title}}">
        <app-pagina-detail [page]="page"></app-pagina-detail>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
