<div class="container" fxLayoutAling="center center">
  <mat-card class="toevoeg-card" *ngIf="!currentFileUpload">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>SESSIE AANMAKEN</mat-card-title>
    </mat-card-header>
    <mat-card-content [formGroup]='newSession' class="card-container">
      <mat-form-field>
        <input matInput [errorStateMatcher]="matcher" placeholder="Geef een titel:" autocomplete="off" formControlName='title'
          required>
        <mat-error *ngIf="newSession.get('title').invalid">
          Geen geldige titel
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [errorStateMatcher]="matcher" placeholder="Geef een omschrijving:" autocomplete="off"
          formControlName='description' required>
        <mat-error *ngIf="newSession.get('description').invalid">
          Geen geldige omschrijving
        </mat-error>
      </mat-form-field>
      <label for="profile_pic">
        <i class="material-icons md-18">cloud_upload</i>
      </label>
      <input style="opacity:0" type="file" id="profile_pic" accept="image/png, image/jpg, image/jpeg" name="profile_pic" (change)='selectFile($event)'>
      <p *ngIf="selectedFiles">{{selectedFiles.item(0).name}}</p>
      <!--<mat-error *ngIf="newSession.get('sessionImage').invalid">-->
      <!--Geen geldige image-->
      <!--</mat-error>-->
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="onSubmit()" class="hvr-grow">
        <mat-icon aria-label="Example icon-button with a check icon">check</mat-icon>
      </button>
      <button mat-icon-button (click)="setDisable()" class="hvr-grow">
        <mat-icon aria-label="Example icon-button with a cross icon">cancel</mat-icon>
      </button>
    </mat-card-actions>
   
  </mat-card>
  <div *ngIf="currentFileUpload" class="progress" fxLayoutAlign="center center">
    <!-- <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
           attr.aria-valuenow="{{progress.percentage}}"
           aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%
      </div> -->
    <!-- <mat-spinner>
    </mat-spinner> -->
    <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="progress.percentage">
    </mat-progress-spinner>
  </div>
</div>
