
.createButton {
    min-width: 200px;
    min-height: 200px;
}

.example-card {
  width: 400px;
  height: 365px;
}

.example-header-image {
  background-image: url('/src/assets/images/android-chrome-512x512.png');
  background-size: cover;
}

.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
