
.createButton {
    min-width: 200px;
    min-height: 200px;
}

.toevoeg-card {
  width: 400px;
  margin: 1em;
  height: 370px;
  background-color: none;
}

.example-header-image {
  background-image: url('/assets/images/android-chrome-512x512.png');
  background-size: cover;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
