p{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.notActive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}