
.example-card {
  max-width: 400px;
  margin: 1em;
}

.card{
  margin-bottom: 20px;
}

.example-header-image {
  background-image: url('/assets/images/android-chrome-512x512.png');
  background-size: cover;
}

.mat-card-header {
  justify-content: flex-start;
}

.mat-card-header div:last-child {
  margin-left: auto;
}

