


.card{
  margin-bottom: 15px;
  max-width: 400px;
  word-wrap: break-word;
}

.example-header-image {
  background-image: url('/assets/images/android-chrome-512x512.png');
  background-size: cover;
}

.mat-card-header {
  justify-content: flex-start;
}

.mat-card-header div:last-child {
  margin-left: auto;
}



.button-row button, .button-row a{
  /* background: #B2DFDB; */
  background: whitesmoke;
  margin-right: 8px;
}

.ngx-qrcode >.qrcode >img{
  width : 200px;
  height: 200px;
}

img{
  height: 300px;
}

.mat-card-content{
  height: 40px;
}

.click{
  outline: none;
}



