
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('/src/assets/images/android-chrome-512x512.png');
  background-size: cover;
}

.mat-card-header {
  justify-content: flex-start;
}
.mat-card-image {
  margin-bottom: 0px;
}
.mat-card-header div:last-child {
  margin-left: auto;
}
