<mat-card class="segment">
    <mat-card-header>
      <div class="cardTitle">Sessie</div>
    </mat-card-header>
    <mat-divider [inset]='true' class="divider"></mat-divider>
    <mat-card-content class="content">
      <mat-tab-group mat-stretch-tabs headerPosition="below" class="tabGroup">
        <mat-tab>
            <span><a mat-icon-button routerLinkActive='active' routerLink="/chiro/edit/{{chiropage.id}}">
                <mat-icon>edit</mat-icon>
            </a></span>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>