<!-- <mat-card class="segment">
    <mat-card-header>
        <mat-card-title>Sessie {{sessie.nr}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <p>
            sessie nummer: {{sessie.nr}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>EDIT</button>
        <button mat-flat-button>
            <i class="material-icons">
                delete_outline
            </i>
        </button>
    </mat-card-actions>
</mat-card> -->


<button class="button" mat-fab color="primary" (click)="showIcons = !showIcons">
    <h2>{{sessie._nr}}</h2>
    <h3>{{sessie._title}}</h3>
    <button mat-fab *ngIf='showIcons' class="icon del" matTooltip="Remove sessie" (click)="removeSessie()">
        <i class="material-icons">
            delete_outline
        </i>
    </button>
    <a [routerLink]="['oefening-list','sessie._id']">
        <button mat-fab *ngIf='showIcons' class="icon edit" matTooltip="Edit sessie">
            <i class="material-icons">
                edit
            </i>
        </button>
    </a>
</button>