


<div class="first" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center">
  
  <div *ngFor='let group of groups'>
    <app-groep [group]='group' (deleteGroup)="removeGroup($event)" (modifyGroup)="editGroup($event)"></app-groep>
  </div>
</div>

<button mat-icon-button (click)="voegGroepToeV2()" class="creatiebtn">
  <mat-icon aria-label="Example icon-button with a add icon">add</mat-icon>
</button>

<div *ngIf='creating' class="creatiebtn">
  <app-groep-creatie (addedGroup)="addGroup($event)" (disable)='creating = !creating'></app-groep-creatie>
</div>

<div *ngIf='!creating' class="creatiebtn float">
  <button mat-fab color="accent" (click)='creating = !creating' class="btn-float">
    <mat-icon aria-label="Example icon-button with a add icon">add</mat-icon>
  </button>
</div>


