<!-- <form [formGroup]='user' (ngSubmit)='onSubmit()' >
  <h3 >register new user</h3>
  <div >
    <label for="email">email:</label>
    <input type="text" id="email" formControlName='email'>
    <div  *ngIf=' user.get("email").errors?.required && user.get("email").touched'>
      a email is required
    </div>
    <div  *ngIf='user.get("email").errors?.minlength && user.get("email").touched'>
      the email should be at least {{user.get("email").errors?.minlength.requiredLength }} letters
    </div>
    <div  *ngIf='user.get("email").errors?.userAlreadyExists && user.get("email").touched'>
      a user with that name already exists
    </div>
  </div>
  <div formGroupName='passwordGroup'>
    <div >
      <label for="password">password:</label>
      <input type="password" id="password" formControlName='password'>
      <div  *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
        password too short, please use at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters (got {{passwordControl.errors?.passwordTooShort.actualLength}})
      </div>
    </div>
    <div >
      <label for="confirmpassword">confirm password:</label>
      <input type="password" id="confirmpassword" formControlName='confirmPassword'>
    </div>
    <div  *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
      the two passwords should be the same
    </div>
  </div>
  <button type='submit' [disabled]='!user.valid' >register</button>
</form> -->


<div class="cardcontainervertical">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Registreer</mat-card-title>
      </mat-card-header>
          <mat-card-content>
              <form [formGroup]='user' (ngSubmit)='onSubmit()' >
                <table>
                  <tr>
                      <mat-form-field>
                          <input matInput type="text" id="email" formControlName='email' placeholder='Email' data-test="email">
                      </mat-form-field>
                      <div  *ngIf=' user.get("email").errors?.required && user.get("email").touched'>
                          a email is required
                        </div>
                        <div  *ngIf='user.get("email").errors?.minlength && user.get("email").touched'>
                          the email should be at least {{user.get("email").errors?.minlength.requiredLength }} letters
                        </div>
                        <div  *ngIf='user.get("email").errors?.userAlreadyExists && user.get("email").touched'>
                          a user with that name already exists
                        </div>
                  </tr>
                </table>

                <div class="passwordGroup" formGroupName='passwordGroup'>
                    <table>
                        <tr>
                            <mat-form-field>
                                <input matInput type="password" id="password" formControlName='password' placeholder='Wachtwoord' data-test="password">
                              </mat-form-field>
                              <div  *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
                                  password too short, please use at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters (got {{passwordControl.errors?.passwordTooShort.actualLength}})
                                </div>
                        </tr>
                        <tr>
                          <mat-form-field>
                              <input matInput type="password" id="confirmpassword" formControlName='confirmPassword' placeholder='Herhaal wachtwoord' data-test="passwordControl">
                            </mat-form-field>
                            <div  *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
                                the two passwords should be the same
                              </div>
                        </tr>
                    </table>
                    
                      
                  </div>

                
                <div class="button-row">
                    <button mat-button class="vet login" type='submit' [disabled]='!user.valid' data-test="registerBtn">REGISTREER</button>
                </div>
              </form>
            </mat-card-content>
      
    
    </mat-card>
    </div>