<div class="titel">
  <h1><span class="vet">FEEDBACK</span></h1>
</div>

<div>
  <mat-form-field fxLayout="row wrap"  fxLayoutGap="15px" >
    <input matInput (keyup)='filterFeedback$.next($event.target.value)' type='text' id='filter' name='filter'
           placeholder='filter feedback session...'>
  </mat-form-field>
  <div fxLayout="row wrap"  fxLayoutGap="15px" fxLayoutAlign="center">
    <feedback *ngFor='let feedback of feedbacks | feedbackFilter:filterFeedbackSessionTitle'
              [feedback]="feedback"></feedback>
  </div>
</div>
