.feedback{
    margin-top: 50px;
}

.left{
    float: left;
    margin-left: 50px;
}

.right{
    float: right;
    margin-right: 50px;
}

table, tr{
    width: 100%;
}

.title{
    background-color: white;
}
