<mat-drawer-container class="courses">
  <mat-drawer mode="side" opened>
    <mat-toolbar color="primary">
      <span class="vet">Lessen</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" (click)="onAdd(true)" class="hvr-grow" matTooltip="Cursus toevoegen">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button (click)="onAdd(false)" class="hvr-grow" matTooltip="Cursus aanpassen">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="removeSessionMap()" class="hvr-grow" matTooltip="Cursus verwijderen">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar>
    <mat-list>
      <a mat-list-item matRipple *ngFor='let sesmap of sesmaps; let i = index' routerLinkActive='active'
         ngClass="{{selectedSessionmap == sesmap ?  'active' : ''}} hvr-sweep-to-right"
         (click)="selectSessionmap(i)">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 class="sessionmap"> {{sesmap.titleCourse}}</h4>
      </a>
    </mat-list>

  </mat-drawer>
  <mat-drawer-content>
    <app-sessie-lijst *ngIf="selectedSessionmap" [sessionmap]="selectedSessionmap"></app-sessie-lijst>

  </mat-drawer-content>
</mat-drawer-container>
