<mat-drawer-container class="courses">
  <mat-drawer mode="side" opened>
    <mat-toolbar color="primary">
        <span>Lessen</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" (click)="onAdd()">
          <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>
    <mat-list>
      <a mat-list-item *ngFor='let sesmap of sesmaps' routerLinkActive='active' [routerLink]="['course-list', sesmap.id]">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4>{{sesmap.titleCourse}}</h4>
        <span><button mat-icon-button (click)="removeSessionMap(sesmap)">
          <mat-icon>delete</mat-icon>
        </button></span>
      </a>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


