<mat-card class="toevoeg-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>GROEP AANMAKEN</mat-card-title>
  </mat-card-header>
  <mat-card-content [formGroup]='newGroup' class="kaart-container">
      <mat-form-field>
        <input matInput [errorStateMatcher]="matcher" placeholder="Vul de groepsnaam in:" autocomplete="off" formControlName='name' required>
        <mat-error *ngIf="newGroup.get('name').invalid">
          Vul een unieke groepsnaam in
        </mat-error>
      </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Cursus">
              <mat-option *ngFor="let ses of sesmaps" [value]="ses._id">
                {{ses.titleCourse}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="addGroup()" class="hvr-grow">
      <mat-icon aria-label="Example icon-button with a check icon">check</mat-icon>
    </button>
    <button mat-icon-button (click)="setDisable()" class="hvr-grow">
      <mat-icon aria-label="Example icon-button with a cross icon">cancel</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
