<div class="example-container " [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">
        <a mat-list-item routerLinkActive='active' routerLink="/course-list" class="vet">MINDFULNESS</a>
      </h1>
      <span class="example-spacer" ></span>
      <a routerLink="/beheerders"  *ngIf="(isSuperAdmin | async)">
        <mat-icon class="example-icon">verified_user</mat-icon>
      </a>
      <a routerLink="/feedback" *ngIf='(currentUser | async)'>
        <mat-icon class="example-icon">feedback</mat-icon>
      </a>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'" [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
      <mat-nav-list class="examplelist">
        <a mat-list-item routerLinkActive='active' routerLink="/course-list">OVERZICHT</a>
        <a mat-list-item routerLink="/groepen-list">GROEPEN</a>
        <a mat-list-item *ngIf='(currentUser | async) else loginlink' class="item" routerLinkActive='active'
           routerLink="/logout">{{currentUser | async}} LOGUIT</a>
        <ng-template #loginlink>
          <a mat-list-item routerLinkActive='active' routerLink="/login">INLOGGEN</a>
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
