<div class="example-container " [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row>
      <!-- <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
      <h1 class="example-app-name">
        <a mat-list-item routerLinkActive='active' routerLink="/course-list" class="vet">MINDFULNESS</a>
      </h1>
      <span class="example-spacer"></span>
      <button mat-button class="vet" routerLink="/course-list" *ngIf='(currentUser | async)'>OVERZICHT</button>
      <button mat-button class="vet" routerLink="/feedback" *ngIf='(currentUser | async)'>FEEDBACK</button>
      <button mat-button class="vet" routerLink="/beheerders" *ngIf="(isSuperAdmin | async)">BEHEER</button>
      <button mat-button class="vet" routerLink="/groepen-list" *ngIf='(currentUser | async)'>GROEPEN</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <button mat-button *ngIf='(currentUser | async) else loginlink' class="vet" routerLinkActive='active' routerLink="/logout">{{currentUser
          | async}} LOGUIT</button>
        <ng-template #loginlink>
          <button mat-button outerLinkActive='active' class="vet" routerLink="/login">INLOGGEN</button>
        </ng-template>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>


  <!-- <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'" [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
      
    </mat-sidenav>



  </mat-sidenav-container> -->
</div>