<mat-card class="example-card">

  <div [className]="isActief()?'class1':'class2'">
  <mat-card-header>
      <mat-card-title>
         {{group.name}}
      </mat-card-title>
  </mat-card-header>
  <div class="editEnDelete"><button mat-icon-button (click)="editGroup()">
      <mat-icon aria-label="Example icon-button with a edit icon" class="hvr-grow">edit</mat-icon>
    </button>
    <button mat-icon-button (click)="removeGroup()" class="hvr-grow">
      <mat-icon aria-label="Example icon-button with a delete icon">delete</mat-icon>
    </button></div>
  </div>

  <mat-card-content> 
    <div *ngIf="usersLeeg()">
      <p>Nog geen groepsleden</p></div>
    <div *ngIf="!usersLeeg()">
      <mat-accordion class="exppanel">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Groepsleden
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
              <mat-list role="list">
                  <mat-list-item *ngFor="let user of users" role="listitem">{{user._email}}</mat-list-item>
                </mat-list>
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="group.sessionmap"><h4>{{group.sessionmap.titleCourse}}</h4></div>
    <div>
      <mat-slide-toggle
          [color]="color"
          [checked]="checked"
          [disabled]="disabled"
          
          [(ngModel)]="checked"
          (change)="changed()">
        {{checkTekst}}
      </mat-slide-toggle>
    </div>
  </mat-card-content>
</mat-card>

