
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center" >
  <div *ngFor='let localSessie of sessies'>
    <app-sessie [session]='localSessie' (deleteSession)="removeSession($event)" (modifySession)="editSession($event)"></app-sessie>
  </div>
  <div *ngIf='creating'>
    <app-sessie-toevoegen (disable)='creating = !creating' [numberOfSessions]='sessies.length' [sesMapid]="sesMapID"></app-sessie-toevoegen>
  </div>
</div>
<div *ngIf='!creating'>
  <div class="float hvr-grow" ><button class="button btn-float" mat-fab color="accent" (click)='creating = !creating'>
    <mat-icon aria-label="Example icon-button with a add icon">add</mat-icon>
  </button></div>
</div>
