<div class="titel" >
  <h1><span class="vet">OVERZICHT </span>{{sessionmap.titleCourse.toUpperCase()}}</h1>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center" >
  <div *ngFor='let session of getSessions()'>
    <app-sessie [session]='session' (deleteSession)="removeSession($event)" (modifySession)="editSession($event)"></app-sessie>
  </div>
  <div *ngIf='creating'>
    <app-sessie-toevoegen (disable)='creating = !creating' (addSession)="addSession($event)" [numberOfSessions]='sessionmap.items.length'></app-sessie-toevoegen>
  </div>
</div>
<div *ngIf='!creating'>
  <div class="float hvr-grow" ><button class="button btn-float" mat-fab color="accent" (click)='creating = !creating'>
    <mat-icon aria-label="Example icon-button with a add icon">add</mat-icon>
  </button></div>
</div>
