/* .sessie-grid {
    max-width: 400px    ;
    margin: auto;
} */

.icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
}
/*Om button op positie te houden*/
.float{
  position:fixed;
  width: 100px;
  height:100px;
  bottom:50px;
  right:50px;
  border-radius:50px;
  text-align:center;
}

.btn-float{
  width: 100px;
  height:100px;
  color: #ffffff;
}

.mat-icon{
  font-weight: 700;
}


