<!-- <p class="inputTitle">{{page.title}}</p> -->
<div class="inputArea" *ngIf="!typeIsEmpty()">
  <div [ngSwitch]="page.typeInput">
    <div *ngSwitchCase="getTypeInput().MULTIPLE_CHOICE">
      <check-list-item-detail [checkListItem]='checkListItem' *ngFor="let checkListItem of page.list.items;">
      </check-list-item-detail>
    </div>
    <div *ngSwitchCase="getTypeInput().IMAGE" fxLayoutAlign="center center">
      <p>Foto invoer pagina</p>
    </div>
    <div *ngSwitchCase="getTypeInput().TEXT" fxLayoutAlign="center center">
      <p>Tekst invoer pagina</p>
    </div>
  </div>

</div>
