
<div *ngIf="!typeIsEmpty()" class="container">
  <div [ngSwitch]="inputPage.typeInput">
    <div *ngSwitchCase="getTypeInput().MULTIPLE_CHOICE">
      <checklist-item-creation (changedItem)='onChangeCheckListItem($event)' (deleteItem)="deleteCheckListItem($event)"
                               [checkListItem]='checklistitem' *ngFor='let checklistitem of inputPage.list.items;'>
      </checklist-item-creation>
      <form [formGroup]="checkListItemForm" class="form" fxLayoutAlign="start center">
        <mat-icon>check_box</mat-icon>
        <mat-form-field>
          <input matInput formControlName="message" (change)="onAddCheckListItem()"  placeholder="Voer tekst in"/>
        </mat-form-field>
      </form>
    </div>
    <div *ngSwitchCase="getTypeInput().IMAGE" fxLayoutAlign="center center" >
      <p>Foto invoer pagina</p>
    </div>
    <div *ngSwitchCase="getTypeInput().TEXT" fxLayoutAlign="center center" >
      <p>Tekst invoer pagina</p>
    </div>
  </div>

</div>

<div *ngIf="typeIsEmpty()" class="inputField" fxLayoutAlign="center center" >
  <mat-button-toggle-group [vertical]='true' #group="matButtonToggleGroup" fxLayout="row">
    <mat-button-toggle (click)='setType(group.value)' value="TEXT" [disableRipple]='true' matTooltip="Tekst input pagina">
      <mat-icon>text_format</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)='setType(group.value)' value="IMAGE" [disableRipple]='true' style="border:none" matTooltip="Camera input pagina">
      <mat-icon>camera_alt</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)='setType(group.value)' value="MULTIPLE_CHOICE" [disableRipple]='true'style="border:none" matTooltip="Checkbox input pagina">
      <mat-icon>check_box</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
