.titleInput {
    /*
    negatieve margin nodig om te compenseren voor de material top padding
    */
    margin-top: -1.2em;
    min-width: 100%;
    margin-left: auto;
}
form {
    min-width: 100%;
}

.mat-form-field{
    width: 90%;
}



.inputField{
    margin-top: 20px;
}

.CheckListContainer {
  border: 1px solid rgba(255, 255, 255, .1);
  overflow-y: scroll;
  overflow: scroll;
  height: 65vh;
}
