<div class="container" (keydown)="onKeydown($event)" tabindex="0">
  <button mat-fab class="undo" (click)="undo()">
    <i class="material-icons">
      undo
    </i>
  </button>
  <app-oefening-detail *ngFor='let oefdetail of oefeningen; let i = index' [@shrinkOut]='i' [excersice]='oefdetail'
    (delOef)='removeOefening($event)' [_position]='i' (newOef)='addOef($event)' class="kid">
  </app-oefening-detail>
  <mat-card class="kid">
    <button mat-fab (click)='addOefening()'>
      <i class="material-icons">
        add
      </i>
    </button>
  </mat-card>
</div>