.container {
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;
}
.container > .kid {
    display: inline-block;
    margin: 0% 5%;
}  

[tabindex] {
    outline: none;
  }
  
  #invisible {
      visibility: hidden;
  }
.button {
    visibility: visible;
}
.inputField {
    display: inline-block;
    max-width: 56px;
    max-height: 500px;
    padding: 0%;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 40vh;
    margin-top: 40vh;
}

.container > * {
    vertical-align: middle;
}

.undo {
    position: absolute;
    right: 0;
    margin: 5px; 
}