<form>
  <mat-card-title>
    <mat-form-field class="titleInput">
      <input matInput class="textInput" value="tittel" (change)='title = $event.currentTarget.value'>
    </mat-form-field>
  </mat-card-title>
  <mat-divider [inset]='true'></mat-divider>
  <div class="paragraphContainer">
    <app-paragraaf-creatie (newPar)='addPar($event)' (changedParPos)='changeParPos($event)' [position]='i' *ngFor='let par of textPage.paragraphs; let i = index'></app-paragraaf-creatie>
    <app-paragraaf-creatie (newPar)='addPar($event)' (changedParPos)='changeParPos($event)' [position]='textPage.paragraphs.length' [isLastElement]='true'></app-paragraaf-creatie>
  </div>
</form>