
  <form *ngIf="!currentFileUpload" fxLayoutAlign="center">
    <div class="audioInputContainer">
      <label for="profile_pic{{audioPage.id}}">
        <i class="material-icons md-18">cloud_upload</i>
      </label>
      <input #fileInput type="file" accept="audio/aac, audio/mp3, audio/wav" id="profile_pic{{audioPage.id}}" name="profile_pic" (change)='selectFile($event)'>
      <p></p>
      {{pathAudio}} 
    </div>

  </form>




<div *ngIf="currentFileUpload" class="progress" fxLayoutAlign="center center">
  <mat-progress-spinner
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="progress.percentage">
  </mat-progress-spinner>
</div>
