<mat-card class="inputField">
  <mat-button-toggle-group [vertical]='true' #group="matButtonToggleGroup">
    <mat-button-toggle (click)='addPage(group.value)' value="text" [disableRipple]='true'>
      <mat-icon>create</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)='addPage(group.value)' value="audio" [disableRipple]='true'>
      <mat-icon>music_video</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)='addPage(group.value)' value="input" [disableRipple]='true'>
      <mat-icon>text_format</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>
<mat-card *ngIf='!isLastElement' class="segment" [ngSwitch]="page.toString()" #inputBlock>
  <div class="closeButton">
    <button mat-icon-button (click)='deletePage()'>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="cardContent">
    <app-audio-pagina-creatie (changedPage)='saveChangedPage($event)' [audioPage]='page' *ngSwitchCase="'audio'"></app-audio-pagina-creatie>
    <app-tekst-pagina-creatie (changedPage)='saveChangedPage($event)' [textPage]='page' *ngSwitchCase="'text'"></app-tekst-pagina-creatie>
    <app-input-pagina-creatie (changedPage)='saveChangedPage($event)' [inputPage]='page' *ngSwitchCase="'invoer'"></app-input-pagina-creatie>
  </div>
</mat-card>