.container {
    overflow-x: auto;

}
.container > .kid {
    display: inline-block;
    padding: 0% 2% 0% 2%;
}  

[tabindex] {
    outline: none;
  }

.inputField {
    display: inline-block;
    max-width: 56px;
    max-height: 500px;
    padding: 0%;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 40vh;
    margin-top: 40vh;
}

/* .container > * {
    vertical-align: middle;
} */

.title {
  background-color: white;
  padding: 0.05em 0 0.05em 1em;
}

a {
  text-decoration: none;
  color: black;
}

